header{
    background-color: #862AEC;
    color: #ffffff
}

    *{
        margin: 0;
        padding: 0;
        }
        
        .cabecalho {
        background-color: #862AEC;
        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px;
        }

.cabecalho-lista-item{
 display: inline-block;
 font-size: 17px;
 margin: 0 16px;
}

.Emblema-lakers{
    width: 20%;
}


.Os-lakers{
 background-image: linear-gradient( #9C4BCF #F8D354 );
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
}



